<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.it521.open.mobilesql.mapper.TableUserMapper">

    <resultMap type="TableUser" id="TableUserResult">
        <result property="id" column="id"/>
        <result property="account" column="account"/>
        <result property="password" column="password"/>
        <result property="nickname" column="nickname"/>
        <result property="realname" column="realname"/>
        <result property="phone" column="phone"/>
        <result property="address" column="address"/>
        <result property="sign" column="sign"/>
        <result property="sex" column="sex"/>
        <result property="email" column="email"/>
        <result property="avatar" column="avatar"/>
        <result property="emailBindTime" column="email_bind_time"/>
        <result property="emailUpdateTime" column="email_update_time"/>
        <result property="locationId" column="location_id"/>
        <result property="status" column="status"/>
        <result property="osName" column="os_name"/>
        <result property="clientVersion" column="client_version"/>
        <result property="registerIp" column="register_ip"/>
        <result property="registerDate" column="register_date"/>
        <result property="loginIp" column="login_ip"/>
        <result property="loginDate" column="login_date"/>
        <result property="updateTime" column="update_time"/>
        <result property="remark" column="remark"/>
    </resultMap>

    <sql id="selectTableUserVo">
        select id, account, password, nickname, realname, phone, address, sign, sex, email, avatar, email_bind_time, email_update_time, location_id, status, os_name, client_version, register_ip, register_date, login_ip, login_date, update_time, remark from table_user
    </sql>

    <select id="selectTableUserList" parameterType="TableUser" resultMap="TableUserResult">
        <include refid="selectTableUserVo"/>
        <where>
            <if test="id != null  and id != '' ">and id = #{id}</if>
            <if test="account != null  and account != '' ">and account = #{account}</if>
            <if test="password != null  and password != '' ">and password = #{password}</if>
            <if test="nickname != null  and nickname != '' ">and nickname = #{nickname}</if>
            <if test="realname != null  and realname != '' ">and realname = #{realname}</if>
            <if test="phone != null  and phone != '' ">and phone = #{phone}</if>
            <if test="address != null  and address != '' ">and address = #{address}</if>
            <if test="sign != null  and sign != '' ">and sign = #{sign}</if>
            <if test="sex != null  and sex != '' ">and sex = #{sex}</if>
            <if test="email != null  and email != '' ">and email = #{email}</if>
            <if test="avatar != null  and avatar != '' ">and avatar = #{avatar}</if>
            <if test="emailBindTime != null  and emailBindTime != '' ">and email_bind_time = #{emailBindTime}</if>
            <if test="emailUpdateTime != null  and emailUpdateTime != '' ">and email_update_time = #{emailUpdateTime}
            </if>
            <if test="locationId != null  and locationId != '' ">and location_id = #{locationId}</if>
            <if test="status != null  and status != '' ">and status = #{status}</if>
            <if test="osName != null  and osName != '' ">and os_name = #{osName}</if>
            <if test="clientVersion != null  and clientVersion != '' ">and client_version = #{clientVersion}</if>
            <if test="registerIp != null  and registerIp != '' ">and register_ip = #{registerIp}</if>
            <if test="registerDate != null  and registerDate != '' ">and register_date = #{registerDate}</if>
            <if test="loginIp != null  and loginIp != '' ">and login_ip = #{loginIp}</if>
            <if test="loginDate != null  and loginDate != '' ">and login_date = #{loginDate}</if>
            <if test="updateTime != null  and updateTime != '' ">and update_time = #{updateTime}</if>
            <if test="remark != null  and remark != '' ">and remark = #{remark}</if>
        </where>
    </select>

    <select id="selectTableUserById" parameterType="String" resultMap="TableUserResult">
        <include refid="selectTableUserVo"/>
        where id = #{id}
    </select>
    <select id="selectTableUserByAccount" parameterType="String" resultMap="TableUserResult">
        <include refid="selectTableUserVo"/>
        where account = #{accout}
    </select>

    <select id="selectTableUserByAccountAndPassword" resultMap="TableUserResult">
        <include refid="selectTableUserVo"/>
        where account = #{account} and password = #{password}
    </select>

    <insert id="insertTableUser" parameterType="TableUser">
        insert into table_user
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null  and id != ''  ">id,</if>
            <if test="account != null  and account != ''  ">account,</if>
            <if test="password != null  and password != ''  ">password,</if>
            <if test="nickname != null  and nickname != ''  ">nickname,</if>
            <if test="realname != null  and realname != ''  ">realname,</if>
            <if test="phone != null  and phone != ''  ">phone,</if>
            <if test="address != null  and address != ''  ">address,</if>
            <if test="sign != null  and sign != ''  ">sign,</if>
            <if test="sex != null  and sex != ''  ">sex,</if>
            <if test="email != null  and email != ''  ">email,</if>
            <if test="avatar != null  and avatar != ''  ">avatar,</if>
            <if test="emailBindTime != null  and emailBindTime != ''  ">email_bind_time,</if>
            <if test="emailUpdateTime != null  and emailUpdateTime != ''  ">email_update_time,</if>
            <if test="locationId != null  and locationId != ''  ">location_id,</if>
            <if test="status != null  and status != ''  ">status,</if>
            <if test="osName != null  and osName != ''  ">os_name,</if>
            <if test="clientVersion != null  and clientVersion != ''  ">client_version,</if>
            <if test="registerIp != null  and registerIp != ''  ">register_ip,</if>
            <if test="registerDate != null  and registerDate != ''  ">register_date,</if>
            <if test="loginIp != null  and loginIp != ''  ">login_ip,</if>
            <if test="loginDate != null  and loginDate != ''  ">login_date,</if>
            update_time,
            <if test="remark != null  and remark != ''  ">remark,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null  and id != ''  ">#{id},</if>
            <if test="account != null  and account != ''  ">#{account},</if>
            <if test="password != null  and password != ''  ">#{password},</if>
            <if test="nickname != null  and nickname != ''  ">#{nickname},</if>
            <if test="realname != null  and realname != ''  ">#{realname},</if>
            <if test="phone != null  and phone != ''  ">#{phone},</if>
            <if test="address != null  and address != ''  ">#{address},</if>
            <if test="sign != null  and sign != ''  ">#{sign},</if>
            <if test="sex != null  and sex != ''  ">#{sex},</if>
            <if test="email != null  and email != ''  ">#{email},</if>
            <if test="avatar != null  and avatar != ''  ">#{avatar},</if>
            <if test="emailBindTime != null  and emailBindTime != ''  ">#{emailBindTime},</if>
            <if test="emailUpdateTime != null  and emailUpdateTime != ''  ">#{emailUpdateTime},</if>
            <if test="locationId != null  and locationId != ''  ">#{locationId},</if>
            <if test="status != null  and status != ''  ">#{status},</if>
            <if test="osName != null  and osName != ''  ">#{osName},</if>
            <if test="clientVersion != null  and clientVersion != ''  ">#{clientVersion},</if>
            <if test="registerIp != null  and registerIp != ''  ">#{registerIp},</if>
            <if test="registerDate != null  and registerDate != ''  ">#{registerDate},</if>
            <if test="loginIp != null  and loginIp != ''  ">#{loginIp},</if>
            <if test="loginDate != null  and loginDate != ''  ">#{loginDate},</if>
            sysdate(),
            <if test="remark != null  and remark != ''  ">#{remark},</if>
        </trim>
    </insert>

    <update id="updateTableUser" parameterType="TableUser">
        update table_user
        <trim prefix="SET" suffixOverrides=",">
            <if test="account != null  and account != ''  ">account = #{account},</if>
            <if test="password != null  and password != ''  ">password = #{password},</if>
            <if test="nickname != null  and nickname != ''  ">nickname = #{nickname},</if>
            <if test="realname != null  and realname != ''  ">realname = #{realname},</if>
            <if test="phone != null  and phone != ''  ">phone = #{phone},</if>
            <if test="address != null  and address != ''  ">address = #{address},</if>
            <if test="sign != null  and sign != ''  ">sign = #{sign},</if>
            <if test="sex != null  and sex != ''  ">sex = #{sex},</if>
            <if test="email != null  and email != ''  ">email = #{email},</if>
            <if test="avatar != null  and avatar != ''  ">avatar = #{avatar},</if>
            <if test="emailBindTime != null  and emailBindTime != ''  ">email_bind_time = #{emailBindTime},</if>
            <if test="emailUpdateTime != null  and emailUpdateTime != ''  ">email_update_time = #{emailUpdateTime},</if>
            <if test="locationId != null  and locationId != ''  ">location_id = #{locationId},</if>
            <if test="status != null  and status != ''  ">status = #{status},</if>
            <if test="osName != null  and osName != ''  ">os_name = #{osName},</if>
            <if test="clientVersion != null  and clientVersion != ''  ">client_version = #{clientVersion},</if>
            <if test="registerIp != null  and registerIp != ''  ">register_ip = #{registerIp},</if>
            <if test="registerDate != null  and registerDate != ''  ">register_date = #{registerDate},</if>
            <if test="loginIp != null  and loginIp != ''  ">login_ip = #{loginIp},</if>
            <if test="loginDate != null  and loginDate != ''  ">login_date = #{loginDate},</if>
            update_time = sysdate(),
            <if test="remark != null  and remark != ''  ">remark = #{remark},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteTableUserById" parameterType="String">
        delete from table_user where id = #{id}
    </delete>

    <delete id="deleteTableUserByIds" parameterType="String">
        delete from table_user where id in
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>

</mapper>