<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.it521.open.mobilesql.mapper.TableUserLocationMapper">
    
    <resultMap type="TableUserLocation" id="TableUserLocationResult">
        <result property="uid"    column="uid"    />
        <result property="currNation"    column="curr_nation"    />
        <result property="currProvince"    column="curr_province"    />
        <result property="currCity"    column="curr_city"    />
        <result property="currDistrict"    column="curr_district"    />
        <result property="location"    column="location"    />
        <result property="longitude"    column="longitude"    />
        <result property="latitude"    column="latitude"    />
        <result property="updateTime"    column="update_time"    />
    </resultMap>
	
	<sql id="selectTableUserLocationVo">
        select uid, curr_nation, curr_province, curr_city, curr_district, location, longitude, latitude, update_time from table_user_location
    </sql>
	
    <select id="selectTableUserLocationList" parameterType="TableUserLocation" resultMap="TableUserLocationResult">
        <include refid="selectTableUserLocationVo"/>
        <where>  
            <if test="uid != null "> and uid = #{uid}</if>
             <if test="currNation != null  and currNation != '' "> and curr_nation = #{currNation}</if>
             <if test="currProvince != null  and currProvince != '' "> and curr_province = #{currProvince}</if>
             <if test="currCity != null  and currCity != '' "> and curr_city = #{currCity}</if>
             <if test="currDistrict != null  and currDistrict != '' "> and curr_district = #{currDistrict}</if>
             <if test="location != null  and location != '' "> and location = #{location}</if>
             <if test="longitude != null "> and longitude = #{longitude}</if>
             <if test="latitude != null "> and latitude = #{latitude}</if>
             <if test="updateTime != null "> and update_time = #{updateTime}</if>
         </where>
    </select>
    
    <select id="selectTableUserLocationById" parameterType="Long" resultMap="TableUserLocationResult">
        <include refid="selectTableUserLocationVo"/>
        where uid = #{uid}
    </select>
        
    <insert id="insertTableUserLocation" parameterType="TableUserLocation">
        insert into table_user_location
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="uid != null  ">uid,</if>
			<if test="currNation != null  and currNation != ''  ">curr_nation,</if>
			<if test="currProvince != null  and currProvince != ''  ">curr_province,</if>
			<if test="currCity != null  and currCity != ''  ">curr_city,</if>
			<if test="currDistrict != null  and currDistrict != ''  ">curr_district,</if>
			<if test="location != null  and location != ''  ">location,</if>
			<if test="longitude != null  ">longitude,</if>
			<if test="latitude != null  ">latitude,</if>
            update_time,
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="uid != null  ">#{uid},</if>
			<if test="currNation != null  and currNation != ''  ">#{currNation},</if>
			<if test="currProvince != null  and currProvince != ''  ">#{currProvince},</if>
			<if test="currCity != null  and currCity != ''  ">#{currCity},</if>
			<if test="currDistrict != null  and currDistrict != ''  ">#{currDistrict},</if>
			<if test="location != null  and location != ''  ">#{location},</if>
			<if test="longitude != null  ">#{longitude},</if>
			<if test="latitude != null  ">#{latitude},</if>
            sysdate(),
         </trim>
    </insert>
	 
    <update id="updateTableUserLocation" parameterType="TableUserLocation">
        update table_user_location
        <trim prefix="SET" suffixOverrides=",">
            <if test="currNation != null  and currNation != ''  ">curr_nation = #{currNation},</if>
            <if test="currProvince != null  and currProvince != ''  ">curr_province = #{currProvince},</if>
            <if test="currCity != null  and currCity != ''  ">curr_city = #{currCity},</if>
            <if test="currDistrict != null  and currDistrict != ''  ">curr_district = #{currDistrict},</if>
            <if test="location != null  and location != ''  ">location = #{location},</if>
            <if test="longitude != null  ">longitude = #{longitude},</if>
            <if test="latitude != null  ">latitude = #{latitude},</if>
            update_time = sysdate(),
        </trim>
        where uid = #{uid}
    </update>

	<delete id="deleteTableUserLocationById" parameterType="Long">
        delete from table_user_location where uid = #{uid}
    </delete>
	
    <delete id="deleteTableUserLocationByIds" parameterType="String">
        delete from table_user_location where uid in 
        <foreach item="uid" collection="array" open="(" separator="," close=")">
            #{uid}
        </foreach>
    </delete>
    
</mapper>