<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.it521.open.mobilesql.mapper.TableUserLogMapper">
    
    <resultMap type="TableUserLog" id="TableUserLogResult">
        <result property="operationId"    column="operation_id"    />
        <result property="title"    column="title"    />
        <result property="businessType"    column="business_type"    />
        <result property="method"    column="method"    />
        <result property="operationType"    column="operation_type"    />
        <result property="operationName"    column="operation_name"    />
        <result property="operationUrl"    column="operation_url"    />
        <result property="operationIp"    column="operation_ip"    />
        <result property="operationParam"    column="operation_param"    />
        <result property="status"    column="status"    />
        <result property="errorMsg"    column="error_msg"    />
        <result property="operationTime"    column="operation_time"    />
    </resultMap>
	
	<sql id="selectTableUserLogVo">
        select operation_id, title, business_type, method, operation_type, operation_name, operation_url, operation_ip, operation_param, status, error_msg, operation_time from table_user_log
    </sql>
	
    <select id="selectTableUserLogList" parameterType="TableUserLog" resultMap="TableUserLogResult">
        <include refid="selectTableUserLogVo"/>
        <where>  
            <if test="operationId != null  and operationId != '' "> and operation_id = #{operationId}</if>
             <if test="title != null  and title != '' "> and title = #{title}</if>
             <if test="businessType != null "> and business_type = #{businessType}</if>
             <if test="method != null  and method != '' "> and method = #{method}</if>
             <if test="operationType != null "> and operation_type = #{operationType}</if>
             <if test="operationName != null  and operationName != '' "> and operation_name = #{operationName}</if>
             <if test="operationUrl != null  and operationUrl != '' "> and operation_url = #{operationUrl}</if>
             <if test="operationIp != null  and operationIp != '' "> and operation_ip = #{operationIp}</if>
             <if test="operationParam != null  and operationParam != '' "> and operation_param = #{operationParam}</if>
             <if test="status != null  and status != '' "> and status = #{status}</if>
             <if test="errorMsg != null  and errorMsg != '' "> and error_msg = #{errorMsg}</if>
             <if test="operationTime != null  and operationTime != '' "> and operation_time = #{operationTime}</if>
         </where>
    </select>
    
    <select id="selectTableUserLogById" parameterType="String" resultMap="TableUserLogResult">
        <include refid="selectTableUserLogVo"/>
        where operation_id = #{operationId}
    </select>
        
    <insert id="insertTableUserLog" parameterType="TableUserLog">
        insert into table_user_log
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="operationId != null  and operationId != ''  ">operation_id,</if>
			<if test="title != null  and title != ''  ">title,</if>
			<if test="businessType != null  ">business_type,</if>
			<if test="method != null  and method != ''  ">method,</if>
			<if test="operationType != null  ">operation_type,</if>
			<if test="operationName != null  and operationName != ''  ">operation_name,</if>
			<if test="operationUrl != null  and operationUrl != ''  ">operation_url,</if>
			<if test="operationIp != null  and operationIp != ''  ">operation_ip,</if>
			<if test="operationParam != null  and operationParam != ''  ">operation_param,</if>
			<if test="status != null  and status != ''  ">status,</if>
			<if test="errorMsg != null  and errorMsg != ''  ">error_msg,</if>
			<if test="operationTime != null  and operationTime != ''  ">operation_time,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="operationId != null  and operationId != ''  ">#{operationId},</if>
			<if test="title != null  and title != ''  ">#{title},</if>
			<if test="businessType != null  ">#{businessType},</if>
			<if test="method != null  and method != ''  ">#{method},</if>
			<if test="operationType != null  ">#{operationType},</if>
			<if test="operationName != null  and operationName != ''  ">#{operationName},</if>
			<if test="operationUrl != null  and operationUrl != ''  ">#{operationUrl},</if>
			<if test="operationIp != null  and operationIp != ''  ">#{operationIp},</if>
			<if test="operationParam != null  and operationParam != ''  ">#{operationParam},</if>
			<if test="status != null  and status != ''  ">#{status},</if>
			<if test="errorMsg != null  and errorMsg != ''  ">#{errorMsg},</if>
			<if test="operationTime != null  and operationTime != ''  ">#{operationTime},</if>
         </trim>
    </insert>
	 
    <update id="updateTableUserLog" parameterType="TableUserLog">
        update table_user_log
        <trim prefix="SET" suffixOverrides=",">
            <if test="title != null  and title != ''  ">title = #{title},</if>
            <if test="businessType != null  ">business_type = #{businessType},</if>
            <if test="method != null  and method != ''  ">method = #{method},</if>
            <if test="operationType != null  ">operation_type = #{operationType},</if>
            <if test="operationName != null  and operationName != ''  ">operation_name = #{operationName},</if>
            <if test="operationUrl != null  and operationUrl != ''  ">operation_url = #{operationUrl},</if>
            <if test="operationIp != null  and operationIp != ''  ">operation_ip = #{operationIp},</if>
            <if test="operationParam != null  and operationParam != ''  ">operation_param = #{operationParam},</if>
            <if test="status != null  and status != ''  ">status = #{status},</if>
            <if test="errorMsg != null  and errorMsg != ''  ">error_msg = #{errorMsg},</if>
            <if test="operationTime != null  and operationTime != ''  ">operation_time = #{operationTime},</if>
        </trim>
        where operation_id = #{operationId}
    </update>

	<delete id="deleteTableUserLogById" parameterType="String">
        delete from table_user_log where operation_id = #{operationId}
    </delete>
	
    <delete id="deleteTableUserLogByIds" parameterType="String">
        delete from table_user_log where operation_id in 
        <foreach item="operationId" collection="array" open="(" separator="," close=")">
            #{operationId}
        </foreach>
    </delete>
    
</mapper>