<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.panda520.mall.system.mapper.SysPicsMapper">

    <resultMap type="SysPics" id="SysPicsResult">
        <result property="id" column="id"/>
        <result property="imageUrl" column="image_url"/>
        <result property="imageDesc" column="image_desc"/>
        <result property="imageType" column="image_type"/>
        <result property="imageLink" column="image_link"/>
        <result property="createUser" column="create_user"/>
        <result property="created" column="created"/>
        <result property="updated" column="updated"/>
    </resultMap>

    <sql id="selectSysPicsVo">
        select id, image_url, image_desc, image_type, image_link, create_user, created, updated from sys_pics
    </sql>

    <select id="selectSysPicsList" parameterType="SysPics" resultMap="SysPicsResult">
        <include refid="selectSysPicsVo"/>
        <where>
            <if test="id != null  and id != '' ">and id = #{id}</if>
            <if test="imageUrl != null  and imageUrl != '' ">and image_url = #{imageUrl}</if>
            <if test="imageDesc != null  and imageDesc != '' ">and image_desc = #{imageDesc}</if>
            <if test="imageType != null  and imageType != '' ">and image_type = #{imageType}</if>
            <if test="imageLink != null  and imageLink != '' ">and image_link = #{imageLink}</if>
            <if test="createUser != null  and createUser != '' ">and create_user = #{createUser}</if>
            <if test="created != null  and created != '' ">and created = #{created}</if>
            <if test="updated != null  and updated != '' ">and updated = #{updated}</if>
        </where>
    </select>

    <select id="selectSysPicsById" parameterType="String" resultMap="SysPicsResult">
        <include refid="selectSysPicsVo"/>
        where id = #{id}
    </select>

    <!--根据类型去表中查询相关图片数据-->
    <select id="selectSysPicsListByType" parameterType="String" resultMap="SysPicsResult">
        <include refid="selectSysPicsVo"/>
        where image_type = #{type}
    </select>

    <insert id="insertSysPics" parameterType="SysPics">
        insert into sys_pics
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null  and id != ''  ">id,</if>
            <if test="imageUrl != null  and imageUrl != ''  ">image_url,</if>
            <if test="imageDesc != null  and imageDesc != ''  ">image_desc,</if>
            <if test="imageType != null  and imageType != ''  ">image_type,</if>
            <if test="imageLink != null  and imageLink != ''  ">image_link,</if>
            <if test="createUser != null  and createUser != ''  ">create_user,</if>
            <if test="created != null  and created != ''  ">created,</if>
            <if test="updated != null  and updated != ''  ">updated,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null  and id != ''  ">#{id},</if>
            <if test="imageUrl != null  and imageUrl != ''  ">#{imageUrl},</if>
            <if test="imageDesc != null  and imageDesc != ''  ">#{imageDesc},</if>
            <if test="imageType != null  and imageType != ''  ">#{imageType},</if>
            <if test="imageLink != null  and imageLink != ''  ">#{imageLink},</if>
            <if test="createUser != null  and createUser != ''  ">#{createUser},</if>
            <if test="created != null  and created != ''  ">#{created},</if>
            <if test="updated != null  and updated != ''  ">#{updated},</if>
        </trim>
    </insert>

    <update id="updateSysPics" parameterType="SysPics">
        update sys_pics
        <trim prefix="SET" suffixOverrides=",">
            <if test="imageUrl != null  and imageUrl != ''  ">image_url = #{imageUrl},</if>
            <if test="imageDesc != null  and imageDesc != ''  ">image_desc = #{imageDesc},</if>
            <if test="imageType != null  and imageType != ''  ">image_type = #{imageType},</if>
            <if test="imageLink != null  and imageLink != ''  ">image_link = #{imageLink},</if>
            <if test="createUser != null  and createUser != ''  ">create_user = #{createUser},</if>
            <if test="created != null  and created != ''  ">created = #{created},</if>
            <if test="updated != null  and updated != ''  ">updated = #{updated},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteSysPicsById" parameterType="String">
        delete from sys_pics where id = #{id}
    </delete>

    <delete id="deleteSysPicsByIds" parameterType="String">
        delete from sys_pics where id in
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>

</mapper>