<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.panda520.mall.system.mapper.SysUserMobileMapper">

    <resultMap type="SysUserMobile" id="SysUserMobileResult">
        <result property="id" column="id"/>
        <result property="token" column="token"/>
        <result property="uname" column="uname"/>
        <result property="password" column="password"/>
        <result property="userType" column="user_type"/>
        <result property="sex" column="sex"/>
        <result property="avatar" column="avatar"/>
        <result property="email" column="email"/>
        <result property="phone" column="phone"/>
        <result property="address" column="address"/>
        <result property="status" column="status"/>
        <result property="delFlag" column="del_flag"/>
        <result property="phoneType" column="phone_type"/>
        <result property="createTime" column="create_time"/>
        <result property="updateTime" column="update_time"/>
        <result property="registerIp" column="register_ip"/>
        <result property="registerDate" column="register_date"/>
        <result property="loginIp" column="login_ip"/>
        <result property="loginDate" column="login_date"/>
        <result property="remark" column="remark"/>
    </resultMap>

    <sql id="selectSysUserMobileVo">
        select id, token, uname, password, user_type, sex, avatar, email, phone, address, status, del_flag, phone_type, create_time, update_time, register_ip, register_date, login_ip, login_date, remark from sys_user_mobile
    </sql>

    <select id="selectSysUserMobileList" parameterType="SysUserMobile" resultMap="SysUserMobileResult">
        <include refid="selectSysUserMobileVo"/>
        <where>
            <if test="id != null  and id != '' ">and id = #{id}</if>
            <if test="token != null  and token != '' ">and token = #{token}</if>
            <if test="uname != null  and uname != '' ">and uname = #{uname}</if>
            <if test="password != null  and password != '' ">and password = #{password}</if>
            <if test="userType != null  and userType != '' ">and user_type = #{userType}</if>
            <if test="sex != null  and sex != '' ">and sex = #{sex}</if>
            <if test="avatar != null  and avatar != '' ">and avatar = #{avatar}</if>
            <if test="email != null  and email != '' ">and email = #{email}</if>
            <if test="phone != null  and phone != '' ">and phone = #{phone}</if>
            <if test="address != null  and address != '' ">and address = #{address}</if>
            <if test="status != null  and status != '' ">and status = #{status}</if>
            <if test="delFlag != null  and delFlag != '' ">and del_flag = #{delFlag}</if>
            <if test="phoneType != null  and phoneType != '' ">and phone_type = #{phoneType}</if>
            <if test="createTime != null ">and create_time = #{createTime}</if>
            <if test="updateTime != null ">and update_time = #{updateTime}</if>
            <if test="registerIp != null  and registerIp != '' ">and register_ip = #{registerIp}</if>
            <if test="registerDate != null ">and register_date = #{registerDate}</if>
            <if test="loginIp != null  and loginIp != '' ">and login_ip = #{loginIp}</if>
            <if test="loginDate != null ">and login_date = #{loginDate}</if>
            <if test="remark != null  and remark != '' ">and remark = #{remark}</if>
        </where>
    </select>

    <select id="selectSysUserMobileById" parameterType="String" resultMap="SysUserMobileResult">
        <include refid="selectSysUserMobileVo"/>
        where id = #{id}
    </select>
    <select id="selectSysUserMobileByUserName" parameterType="String" resultMap="SysUserMobileResult">
        <include refid="selectSysUserMobileVo"/>
        where uname = #{username}
    </select>

    <select id="selectSysUserMobileByUserNameAndPassword" resultMap="SysUserMobileResult">
        <include refid="selectSysUserMobileVo"/>
        where uname = #{username} and password = #{password}
    </select>


    <insert id="insertSysUserMobile" parameterType="SysUserMobile">
        insert into sys_user_mobile
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null  and id != ''  ">id,</if>
            <if test="token != null  and token != ''  ">token,</if>
            <if test="uname != null  and uname != ''  ">uname,</if>
            <if test="password != null  and password != ''  ">password,</if>
            <if test="userType != null  and userType != ''  ">user_type,</if>
            <if test="sex != null  and sex != ''  ">sex,</if>
            <if test="avatar != null  and avatar != ''  ">avatar,</if>
            <if test="email != null  and email != ''  ">email,</if>
            <if test="phone != null  and phone != ''  ">phone,</if>
            <if test="address != null  and address != ''  ">address,</if>
            <if test="status != null  and status != ''  ">status,</if>
            <if test="delFlag != null  and delFlag != ''  ">del_flag,</if>
            <if test="phoneType != null  and phoneType != ''  ">phone_type,</if>
            create_time,
            update_time,
            <if test="registerIp != null  and registerIp != ''  ">register_ip,</if>
            <if test="registerDate != null  ">register_date,</if>
            <if test="loginIp != null  and loginIp != ''  ">login_ip,</if>
            <if test="loginDate != null  ">login_date,</if>
            <if test="remark != null  and remark != ''  ">remark,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null  and id != ''  ">#{id},</if>
            <if test="token != null  and token != ''  ">#{token},</if>
            <if test="uname != null  and uname != ''  ">#{uname},</if>
            <if test="password != null  and password != ''  ">#{password},</if>
            <if test="userType != null  and userType != ''  ">#{userType},</if>
            <if test="sex != null  and sex != ''  ">#{sex},</if>
            <if test="avatar != null  and avatar != ''  ">#{avatar},</if>
            <if test="email != null  and email != ''  ">#{email},</if>
            <if test="phone != null  and phone != ''  ">#{phone},</if>
            <if test="address != null  and address != ''  ">#{address},</if>
            <if test="status != null  and status != ''  ">#{status},</if>
            <if test="delFlag != null  and delFlag != ''  ">#{delFlag},</if>
            <if test="phoneType != null  and phoneType != ''  ">#{phoneType},</if>
            sysdate(),
            sysdate(),
            <if test="registerIp != null  and registerIp != ''  ">#{registerIp},</if>
            <if test="registerDate != null  ">#{registerDate},</if>
            <if test="loginIp != null  and loginIp != ''  ">#{loginIp},</if>
            <if test="loginDate != null  ">#{loginDate},</if>
            <if test="remark != null  and remark != ''  ">#{remark},</if>
        </trim>
    </insert>

    <update id="updateSysUserMobile" parameterType="SysUserMobile">
        update sys_user_mobile
        <trim prefix="SET" suffixOverrides=",">
            <if test="token != null  and token != ''  ">token = #{token},</if>
            <if test="uname != null  and uname != ''  ">uname = #{uname},</if>
            <if test="password != null  and password != ''  ">password = #{password},</if>
            <if test="userType != null  and userType != ''  ">user_type = #{userType},</if>
            <if test="sex != null  and sex != ''  ">sex = #{sex},</if>
            <if test="avatar != null  and avatar != ''  ">avatar = #{avatar},</if>
            <if test="email != null  and email != ''  ">email = #{email},</if>
            <if test="phone != null  and phone != ''  ">phone = #{phone},</if>
            <if test="address != null  and address != ''  ">address = #{address},</if>
            <if test="status != null  and status != ''  ">status = #{status},</if>
            <if test="delFlag != null  and delFlag != ''  ">del_flag = #{delFlag},</if>
            <if test="phoneType != null  and phoneType != ''  ">phone_type = #{phoneType},</if>
            <if test="createTime != null  ">create_time = #{createTime},</if>
            update_time = sysdate(),
            <if test="registerIp != null  and registerIp != ''  ">register_ip = #{registerIp},</if>
            <if test="registerDate != null  ">register_date = #{registerDate},</if>
            <if test="loginIp != null  and loginIp != ''  ">login_ip = #{loginIp},</if>
            <if test="loginDate != null  ">login_date = #{loginDate},</if>
            <if test="remark != null  and remark != ''  ">remark = #{remark},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteSysUserMobileById" parameterType="String">
        delete from sys_user_mobile where id = #{id}
    </delete>

    <delete id="deleteSysUserMobileByIds" parameterType="String">
        delete from sys_user_mobile where id in
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>

</mapper>